:root {
  --color-background: #f5f4f7;
  --color-aside: #1c1b2e;
  --color-primary: #6c4fbf;
  --color-primary-dark: #3e2a8e;
  --color-accent-soft: #e8e3f8;
  --color-card-bg: #ffffff;
  --color-selected: #A78BFA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-background);
  display: flex;
  flex-direction: row;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}
